#board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 1px;
    width: 400px;
  }
  
  #board div {
    background: rgb(8, 30, 224);
    height: 50px;
    width: 50px;
  }

  #board div:hover:after {
    content: "\265B";
}
  
  #board div:nth-child(16n+2), #board div:nth-child(16n+4),
  #board div:nth-child(16n+6), #board div:nth-child(16n+8), #board div:nth-child(16n+9),
  #board div:nth-child(16n+11), #board div:nth-child(16n+13), #board div:nth-child(16n+15){
    background: rgb(0, 195, 255);
  }